<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<header>
</header>
<main>
    {% block content %}{% endblock %}
</main>
<footer></footer>
<script type="module" src="/src/scripts/main.js"></script>
</body>
</html>

